In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
data_path = '../../Data'

In [3]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [4]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [5]:
df1.count()

500000

In [6]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [7]:
df_s1.count()

49639

In [8]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.376237623762375|
|     loc226|  25.5979381443299|
|     loc463|23.336633663366335|
|     loc150|  32.1530612244898|
|     loc292| 29.12962962962963|
|     loc311|24.235955056179776|
|      loc22| 28.20754716981132|
|     loc351|27.742857142857144|
|     loc370|29.408163265306122|
|     loc419| 29.12295081967213|
+-----------+------------------+
only showing top 10 rows

In [9]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.150442477876105|
|       loc1|28.138297872340427|
|      loc10|25.762376237623762|
|     loc100|27.523364485981308|
|     loc101|25.035714285714285|
|     loc102| 30.54054054054054|
|     loc103| 25.32967032967033|
|     loc104|             26.56|
|     loc105|26.194174757281555|
|     loc106|              27.0|
+-----------+------------------+
only showing top 10 rows

In [10]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [11]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [12]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc1|              26.0|
|      loc10|              25.5|
|     loc100|              26.0|
|     loc103|              30.0|
|     loc105|              32.0|
|     loc106|              25.0|
|     loc107|33.666666666666664|
|     loc108|              33.0|
|     loc109|              27.0|
|      loc11|              25.5|
+-----------+------------------+
only showing top 10 rows